@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold; }

a, button {
  outline: none; }

ul {
  margin-bottom: 0;
  padding: 0; }


.nav-bar {
    background: #080808;
    width: 100%;
    font-family: myFirstFont;
    font-weight: bold;
    padding: 20px;
    height: 86px;
}
  .nav-bar.fixed {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    right: 0; }

.nav-bar .logo {
  display: block;
  font-family: myFirstFont;
  font-weight: bold;
  font-size: 39px;
  color: #73b01f;
  text-decoration: none;
  margin-top: 5px;
  padding: 0px 0px 0px 0px; }

.nav-bar-menu {
  display: inline-block;
  right: 0;
  top: 20px;
  z-index: 1; }

.nav-bar ul li {
  list-style: none;
  /*float: left;*/
  display: inline-block;
  text-decoration: none; }

.nav-bar .navbar-detail {
  font-size: 13px;
  color:#f8f9fa;
  padding: 25px 25px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.nav-bar-menu > ul > li:last-child > a {
  padding: 25px 0; }

.nav-bar-menu > ul > li:last-child > a:first-child {
  display: none; }

.nav-bar-menu > ul > li:last-child > ul:nth-child(3) {
  display: none; }

.navbar-detail:hover {
  color: #73b01f; }

/*.nav-bar .navbar-box {
  text-decoration: none;
  color: #232323;
  display: block;
  padding: 10px 20px;
  font-size: 13px;
  background: #F4F4F4;
}*/
.nav-bar ul li {
  position: relative; }
  .nav-bar ul li i {
    float: right;
    margin-left: 20px; }

.nav-bar ul li > a {
  display: inline-block; }

.nav-bar ul li ul {
  display: none;
  padding: 0px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 250px; }

.nav-bar ul li:hover > ul {
  display: block; }

.nav-bar ul li ul li {
  position: relative;
  display: block; }

.nav-bar ul li ul li ul {
  display: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px; }

.nav-bar ul li ul a {
  text-decoration: none;
  color: #232323;
  display: block;
  padding: 10px 20px;
  font-size: 13px;
  background: #F4F4F4;
  text-align: left; }

.nav-bar ul li ul > li:hover > a {
  color: #ffffff;
  background: #73B01F; }

.search {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  border-left: 1px solid black; }
  .search button {
    color: white;
    border: none;
    background: #f000; }
  .search i:hover {
    color: #73b01f; }
  .search .search-box {
    position: absolute;
    right: 0;
    width: 300px;
    padding: 10px;
    background: #fff;
    border: 1px solid #66666666;
    margin-top: 15px;
    z-index: 1;
    border-radius: 3px;
    display: none; }
  .search input {
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid #66666666;
    border-radius: 3px; }

.search-box button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px; }

.m-btn {
  display: none;
  background: transparent;
  color: #73b01f;
  border: none;
  font-size: 20px;
  outline: none; }

.cl-btn {
  display: none;
  background: #2b2727;
  color: #fff;
  border: 1px solid #222222;
  font-size: 20px;
  outline: none; }

/*background*/
.background {
  width: 100%;
  position: relative; }
  .background .background-image img {
    width: 100%; }
  .background .background-image .caption {
    position: absolute;
    z-index: 5;
    display: block;
    top: 30%;
    left: 20px;
    text-align: center;
    max-width: 650px;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: bold; }
    .background .background-image .caption a {
      text-decoration: none;
      color: #fff;
      background: #73b01f;
      padding: 8px 50px;
      border-radius: 20px;
      margin-top: 10px;
      display: inline-block; }

.background .slick-dots {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none; }
  .background .slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 5px 15px 5px;
    border: 2px solid #666;
    border-radius: 50%;
    cursor: pointer;
    border-color: #fff; }
  .background .slick-dots button {
    display: none; }

.background-image .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  margin-top: -70px; }

.background-image .prevArrow {
  left: 60px;
  color: white;
  font-size: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.background-image .prevArrow:hover {
  color: #8cea0a; }

.background-image .nextArrow {
  right: 60px;
  color: white;
  font-size: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.background-image .nextArrow:hover {
  color: #8cea0a; }

.background .slick-dots .slick-active {
  background: #fff;
  margin: 0 6px; }

.col-pd-mr-0 {
  padding: 0;
  margin: 0; }
  /*end-background*/
/*# sourceMappingURL=main.css.map */
.section-title {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.color-gradient .section-title span, .color-gradient {
    background: -webkit-linear-gradient(top, #358563, #3f9a2b, #abcf13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 1199px) {
  .partner-detail .prevArrow {
    left: -10px; }
  .partner-detail .nextArrow {
    right: -10px; } }

.footer {
  background: #2c2e30;
  color: #fff;
  line-height: 26px;
  padding-bottom: 40px; }
  .footer .footer-title {
    padding-top: 40px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500; }
  .footer .footer-detail i {
    font-size: 16px;
    margin-right: 15px; }

.social {
  text-align: right;
  padding-top: 60px; }
  .social a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    text-decoration: none; }
    .social a i {
      color: white;
      display: block;
      margin-top: 2px; }

.social .fb {
  background: #415a99; }

.social .fb:hover {
  background: #324573;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .tw {
  background: #00caff; }

.social .tw:hover {
  background: #0da3ca;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .dr {
  background: #f26798; }

.social .dr:hover {
  background: #d65b87;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .vi {
  background: #1ab7ea; }

.social .vi:hover {
  background: #0da3ca;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .yt {
  background: #cb222a; }

.social .yt:hover {
  background: #ad1f25;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #73b01f;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  line-height: 35px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 99;
  display: none; }

.back-to-top:hover {
  background: #82c722; }

.social {
  text-align: center; }

@media (max-width: 991px) {
  .nav-bar {
    padding: 0; }
    .nav-bar .nav-bar-menu {
      text-align: center;
      position: fixed;
      width: 300px;
      height: 100%;
      z-index: 999;
      top: 0;
      right: -350px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .nav-bar .nav-bar-menu ul {
        position: static;
        background: #2b2727;
        right: 0;
        top: 0;
        text-align: left;
        height: 100%;
        width: 100%; }
        .nav-bar .nav-bar-menu ul li {
          display: block;
          background: #2b2727; }
          .nav-bar .nav-bar-menu ul li a {
            padding: 10px 20px;
            font-size: 12px;
            color: #fff;
            background: #2b2727; }
          .nav-bar .nav-bar-menu ul li ul li:hover ul {
            display: none; }
          .nav-bar .nav-bar-menu ul li ul li:hover > a {
            background: none; }
        .nav-bar .nav-bar-menu ul li:hover > ul {
          display: none;
          background: none; }
    .nav-bar .nav-bar-menu.active {
      right: 0px; }
  .search {
    border: none;
    margin-right: 30px; }
  .m-btn {
    display: inline-block;
    position: relative; }
  .cl-btn {
    display: block;
    position: absolute;
    top: 0;
    left: -30px; }
  .background .background-image .caption p {
    font-size: 14px; }
  .background .background-image .caption h3 {
    font-size: 16px; }
  .background .background-image .caption a {
    display: none; }
  .product ul {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; }
    .product ul li {
      display: inline-block; }
      .product ul li a {
        display: inline-block; }
  .news-post .news-image:hover:before {
    opacity: 0; }
  .news-post .news-image:hover:after {
    opacity: 0; }
  .small-contact {
    display: none; } }

@media (max-width: 768px) {
  .background .background-image .caption {
    max-width: 400px; } }

.m-nav-over {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080; }

/*# sourceMappingURL=main.css.map */
.section-title {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}

.color-gradient .section-title span, .color-gradient {
    background: -webkit-linear-gradient(top, #358563, #3f9a2b, #abcf13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hotline-phone-ring-wrap {
position: fixed;
bottom: 0;
left: 0;
z-index: 999999;
}
.hotline-phone-ring {
position: relative;
visibility: visible;
background-color: transparent;
width: 110px;
height: 110px;
cursor: pointer;
z-index: 11;
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
transition: visibility .5s;
left: 0;
bottom: 0;
display: block;
}
.hotline-phone-ring-circle {
width: 85px;
height: 85px;
top: 10px;
left: 10px;
position: absolute;
background-color: transparent;
border-radius: 100%;
border: 2px solid #e60808;
-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
width: 55px;
height: 55px;
top: 25px;
left: 25px;
position: absolute;
background-color: rgba(230, 8, 8, 0.7);
border-radius: 100%;
border: 2px solid transparent;
-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
background-color: #e60808;
width: 33px;
height: 33px;
top: 37px;
left: 37px;
position: absolute;
background-size: 20px;
border-radius: 100%;
border: 2px solid transparent;
-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
align-items: center;
justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
width: 20px;
height: 20px;
}
.hotline-bar {
position: absolute;
background: rgba(230, 8, 8, 0.75);
height: 40px;
width: 180px;
line-height: 40px;
border-radius: 3px;
padding: 0 10px;
background-size: 100%;
cursor: pointer;
transition: all 0.8s;
-webkit-transition: all 0.8s;
z-index: 9;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
border-radius: 50px !important;
/* width: 175px !important; */
left: 33px;
bottom: 37px;
}
.hotline-bar > a {
color: #fff;
text-decoration: none;
font-size: 15px;
font-weight: bold;
text-indent: 50px;
display: block;
letter-spacing: 1px;
line-height: 40px;
font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
0% {
-webkit-transform: rotate(0) scale(0.5) skew(1deg);
-webkit-opacity: 0.1;
}
30% {
-webkit-transform: rotate(0) scale(0.7) skew(1deg);
-webkit-opacity: 0.5;
}
100% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
-webkit-opacity: 0.1;
}
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
0% {
-webkit-transform: rotate(0) scale(0.7) skew(1deg);
opacity: 0.6;
}
50% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
opacity: 0.6;
}
100% {
-webkit-transform: rotate(0) scale(0.7) skew(1deg);
opacity: 0.6;
}
}
@-webkit-keyframes phonering-alo-circle-img-anim {
0% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
}
10% {
-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
}
20% {
-webkit-transform: rotate(25deg) scale(1) skew(1deg);
}
30% {
-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
}
40% {
-webkit-transform: rotate(25deg) scale(1) skew(1deg);
}
50% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
}
100% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
}
}
@media (max-width: 768px) {
.hotline-bar {
display: none;
}
}
@media (max-width: 1199px) {
  .partner-detail .prevArrow {
    left: -10px; }
  .partner-detail .nextArrow {
    right: -10px; } }

.footer {
  background: #2c2e30;
  color: #fff;
  line-height: 26px;
  padding-bottom: 40px; }
  .footer .footer-title {
    padding-top: 40px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500; }
  .footer .footer-detail i {
    font-size: 16px;
    margin-right: 15px; }

.social {
  text-align: right;
  padding-top: 60px; }
  .social a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    text-decoration: none; }
    .social a i {
      color: white;
      display: block;
      margin-top: 2px; }

.social .fb {
  background: #415a99; }

.social .fb:hover {
  background: #324573;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .tw {
  background: #00caff; }

.social .tw:hover {
  background: #0da3ca;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .dr {
  background: #f26798; }

.social .dr:hover {
  background: #d65b87;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .vi {
  background: #1ab7ea; }

.social .vi:hover {
  background: #0da3ca;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social .yt {
  background: #cb222a; }

.social .yt:hover {
  background: #ad1f25;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #73b01f;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  line-height: 35px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 99;
  display: none; }

.back-to-top:hover {
  background: #82c722; }

.social {
  text-align: center; }
@media (max-width: 963px) {
  

}