@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: mySecondFont;
  src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(../fonts/Oswald-Bold.ttf);
  font-weight: bold;
}

ul {
	margin-bottom: 0;
	padding: 0;
}



.nav-bar {
	background: #080808;
	width: 100%;
	font-family: myFirstFont;
	font-weight: bold;
	height: 86px;
}

.nav-bar .logo {
	display: block;
	font-family: myFirstFont;
	font-weight: bold;
	font-size: 39px;
	color: #73b01f;
	text-decoration: none;
	text-align: center;
	margin-top: 5px;
}

.nav-bar ul li {
	list-style: none;
	/*float: left;*/
	display: inline-block;
	text-decoration: none;
}

.nav-bar .navbar-detail {
	display: block;
	font-size: 13px;
	color: #f8f9fa;
	padding: 25px 25px;
	text-transform: uppercase;
	text-decoration: none;
}


.nav-bar-menu > ul> li:last-child > a {
	padding: 25px 0;
}

.nav-bar-menu > ul> li:last-child > a:first-child {
	display: none;
}

.nav-bar-menu > ul> li:last-child > ul:nth-child(3) {
	display: none;
}

.navbar-detail:hover {
	color: #73b01f;
}

/*.nav-bar .navbar-detail i {
	border-left: 1px solid #2f3b4b;
}
*/
/*.nav-bar .navbar-box {
	text-decoration: none;
	color: #232323;
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	background: #F4F4F4;
}*/

.nav-bar ul li {
	position: relative;
}

.nav-bar ul li ul {
	display: none;
	padding: 0px;
	position: absolute;
	z-index: 1;
	top:100%;
	left: 0;
	width: 250px;
	a{
		
	}
}

.nav-bar ul li:hover>  ul {
	display: block;
}

.nav-bar ul li ul li {
	position: relative;
	display: block;
}

.nav-bar ul li ul li ul {
	display: none;
	padding: 0;
	position: absolute;
	top: 0;
	left: 100%;
	width: 200px;
}

.nav-bar ul li ul a {
	text-decoration: none;
	color: #232323;
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	background: #F4F4F4;
}

.nav-bar ul li ul > li:hover > a {
	color: #ffffff;
	background: #73B01F;
}

/*end-nav-bar*/
iframe{
	margin: auto;
	width: 100%;
	height: 700px ;

}
.post_thumb {

    width: 100%;

    height: auto;

}
.post_thumb_1 {
    width: auto;
    height: auto;
    margin-right: auto; 
    margin-left: auto;
}
.post_thumb img {

    width: 100%;

    height: 100%;

}
.post_thumb iframe{

    width: 100%;

    height: 100%;

}
.color_font ul,li {
	color: white ;
}
.color_font p,b,h3,span{
	color: white ;
}
.color_black ul li{
	color:black;
}
.color_black b{
	color:black;
}
.hr{
	  border: none;
	  height: 1px;
	  color: #333;
	  background-color: #333;
}
section{
	margin: 10px 5px 10px 5px;
}
.imgsize{
	width: 100%;
	height:auto;

}
.produce-speed{
	background: black;
	width: 359px; 
	height: 547px;
    padding:10px;
	 margin-right: auto; 
	 margin-left: auto;
}
.input_form{
	display: block;
	 width: 250px; 
	 background: #FFFFFF33;
	 margin-right: auto; 
	 margin-left: auto;
}
