@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: mySecondFont;
  src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(../fonts/Oswald-Bold.ttf);
  font-weight: bold;
}

ul {
	margin-bottom: 0;
	padding: 0;
}



.nav-bar {
	background: #080808;
	width: 100%;
	font-family: myFirstFont;
	font-weight: bold;
	height: 86px;
}

.nav-bar .logo {
	display: block;
	font-family: myFirstFont;
	font-weight: bold;
	font-size: 39px;
	color: #73b01f;
	text-decoration: none;
	text-align: center;
	margin-top: 5px;
}

.nav-bar ul li {
	list-style: none;
	/*float: left;*/
	display: inline-block;
	text-decoration: none;
}

.nav-bar .navbar-detail {
	display: block;
	font-size: 13px;
	color: #f8f9fa;
	padding: 25px 25px;
	text-transform: uppercase;
	text-decoration: none;
}


.nav-bar-menu > ul> li:last-child > a {
	padding: 25px 0;
}

.nav-bar-menu > ul> li:last-child > a:first-child {
	display: none;
}

.nav-bar-menu > ul> li:last-child > ul:nth-child(3) {
	display: none;
}

.navbar-detail:hover {
	color: #73b01f;
}

/*.nav-bar .navbar-detail i {
	border-left: 1px solid #2f3b4b;
}
*/
/*.nav-bar .navbar-box {
	text-decoration: none;
	color: #232323;
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	background: #F4F4F4;
}*/

.nav-bar ul li {
	position: relative;
}

.nav-bar ul li ul {
	display: none;
	padding: 0px;
	position: absolute;
	z-index: 1;
	top:100%;
	left: 0;
	width: 250px;
	a{
		
	}
}

.nav-bar ul li:hover>  ul {
	display: block;
}

.nav-bar ul li ul li {
	position: relative;
	display: block;
}

.nav-bar ul li ul li ul {
	display: none;
	padding: 0;
	position: absolute;
	top: 0;
	left: 100%;
	width: 200px;
}

.nav-bar ul li ul a {
	text-decoration: none;
	color: #232323;
	display: block;
	padding: 10px 20px;
	font-size: 13px;
	background: #F4F4F4;
}

.nav-bar ul li ul > li:hover > a {
	color: #ffffff;
	background: #73B01F;
}

/*end-nav-bar*/

.background {
	/*width: 100%;*/
}

.background-image img {
	width: 100%;
}

.hotline-phone-ring-wrap {
position: fixed;
bottom: 0;
left: 0;
z-index: 999999;
}
.hotline-phone-ring {
position: relative;
visibility: visible;
background-color: transparent;
width: 110px;
height: 110px;
cursor: pointer;
z-index: 11;
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
transition: visibility .5s;
left: 0;
bottom: 0;
display: block;
}
.hotline-phone-ring-circle {
width: 85px;
height: 85px;
top: 10px;
left: 10px;
position: absolute;
background-color: transparent;
border-radius: 100%;
border: 2px solid #e60808;
-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
width: 55px;
height: 55px;
top: 25px;
left: 25px;
position: absolute;
background-color: rgba(230, 8, 8, 0.7);
border-radius: 100%;
border: 2px solid transparent;
-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
transition: all .5s;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
background-color: #e60808;
width: 33px;
height: 33px;
top: 37px;
left: 37px;
position: absolute;
background-size: 20px;
border-radius: 100%;
border: 2px solid transparent;
-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
-webkit-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
align-items: center;
justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
width: 20px;
height: 20px;
}
.hotline-bar {
position: absolute;
background: rgba(230, 8, 8, 0.75);
height: 40px;
width: 180px;
line-height: 40px;
border-radius: 3px;
padding: 0 10px;
background-size: 100%;
cursor: pointer;
transition: all 0.8s;
-webkit-transition: all 0.8s;
z-index: 9;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
border-radius: 50px !important;
/* width: 175px !important; */
left: 33px;
bottom: 37px;
}
.hotline-bar > a {
color: #fff;
text-decoration: none;
font-size: 15px;
font-weight: bold;
text-indent: 50px;
display: block;
letter-spacing: 1px;
line-height: 40px;
font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
0% {
-webkit-transform: rotate(0) scale(0.5) skew(1deg);
-webkit-opacity: 0.1;
}
30% {
-webkit-transform: rotate(0) scale(0.7) skew(1deg);
-webkit-opacity: 0.5;
}
100% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
-webkit-opacity: 0.1;
}
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
0% {
-webkit-transform: rotate(0) scale(0.7) skew(1deg);
opacity: 0.6;
}
50% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
opacity: 0.6;
}
100% {
-webkit-transform: rotate(0) scale(0.7) skew(1deg);
opacity: 0.6;
}
}
@-webkit-keyframes phonering-alo-circle-img-anim {
0% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
}
10% {
-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
}
20% {
-webkit-transform: rotate(25deg) scale(1) skew(1deg);
}
30% {
-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
}
40% {
-webkit-transform: rotate(25deg) scale(1) skew(1deg);
}
50% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
}
100% {
-webkit-transform: rotate(0) scale(1) skew(1deg);
}
}
@media (max-width: 768px) {
.hotline-bar {
display: none;
}
}


